# Ignore the local Rust target directory (the main culprit)
target/

# Ignore local secret files
.env

# Ignore version control and IDE files
.git/
.github/
.idea/
.vscode/

# Ignore any local build artifacts or archives
*.tar.gz
*.zip

node_modules/
.next/
out/
build/
.npm/

.sqlx/