**/target/

.env*
!.env.example

.git/
.github/
.gitignore
.dockerignore

.idea/
.vscode/
**/.DS_Store
Thumbs.db

**/node_modules/
**/.next/
**/out/
**/build/
**/.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tar.gz
*.zip
*.dump
*.log

docker-compose*.yml