DATABASE_URL=
REDIS_URL=
DOMAIN=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
GOOGLE_CLOUD_API_KEY=

GENIUS_API_KEY=
GIPHY_API_KEY=
KLIPY_API_KEY=
TMDB_API_KEY=
RAWG_API_KEY=

VERIFICATION_SECRET=
TURNSTILE_SECRET=
HCAPTCHA_SECRET=
HCAPTCHA_SITE_KEY=

SHARD_INDEX=
TOTAL_SHARDS=

POSTGRES_PASSWORD=
REDIS_PASSWORD=

AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=
AUTH_SECRET=

DISCORD_TOKEN=

PERMISSION=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=
NEXT_PUBLIC_BACKEND_URL=
